
body{
    padding-top: 200px;
    text-align: center;
    display:flexbox;
justify-items: center;


}
button.count{
    font-size: 30px;
align-items: center;
background-color: rgb(177, 157, 195);
    width: 200px;
    height: 100px;
    border: 2px solid orange;
    border: none;
    border-radius: 30px;
    display:grid;}